USE [master]
GO
/****** Object:  Database [CashierDb]    Script Date: 23/2/2023 08:35:21 ******/
CREATE DATABASE [CashierDb]
 CONTAINMENT = NONE
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CashierDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CashierDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 23/2/2023 08:35:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 23/2/2023 08:35:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountNumber] [nvarchar](max) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[CardId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cards]    Script Date: 23/2/2023 08:35:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CardNumber] [nvarchar](max) NOT NULL,
	[PinNumber] [int] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[FailedAttempts] [int] NOT NULL,
	[ExpirationDate] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Cards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 23/2/2023 08:35:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[OperationNumber] [int] IDENTITY(1,1) NOT NULL,
	[CardId] [int] NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[OperationType] [int] NOT NULL,
	[OperationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[OperationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230222222312_FirstMigration', N'7.0.3')
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([Id], [AccountNumber], [Balance], [CardId], [CreatedAt], [UpdatedAt]) VALUES (1, N'998338874777678833244', CAST(100000.00 AS Decimal(18, 2)), 1, CAST(N'2023-02-22T19:23:12.8778510' AS DateTime2), NULL)
INSERT [dbo].[Accounts] ([Id], [AccountNumber], [Balance], [CardId], [CreatedAt], [UpdatedAt]) VALUES (2, N'458334864777678833244', CAST(100000.00 AS Decimal(18, 2)), 2, CAST(N'2023-02-22T19:23:12.8778522' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Cards] ON 

INSERT [dbo].[Cards] ([Id], [CardNumber], [PinNumber], [IsLocked], [FailedAttempts], [ExpirationDate], [CreatedAt], [UpdatedAt]) VALUES (1, N'7777333399995555', 1234, 0, 0, CAST(N'2023-05-22T22:23:12.8778472' AS DateTime2), CAST(N'2023-02-22T19:23:12.8778458' AS DateTime2), NULL)
INSERT [dbo].[Cards] ([Id], [CardNumber], [PinNumber], [IsLocked], [FailedAttempts], [ExpirationDate], [CreatedAt], [UpdatedAt]) VALUES (2, N'8888333399995555', 4444, 1, 0, CAST(N'2023-03-22T22:23:12.8778498' AS DateTime2), CAST(N'2023-02-22T19:23:12.8778497' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Cards] OFF
GO
/****** Object:  Index [IX_Accounts_CardId]    Script Date: 23/2/2023 08:35:21 ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_CardId] ON [dbo].[Accounts]
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Logs_CardId]    Script Date: 23/2/2023 08:35:21 ******/
CREATE NONCLUSTERED INDEX [IX_Logs_CardId] ON [dbo].[Logs]
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Cards_CardId] FOREIGN KEY([CardId])
REFERENCES [dbo].[Cards] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Cards_CardId]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_Cards_CardId] FOREIGN KEY([CardId])
REFERENCES [dbo].[Cards] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_Logs_Cards_CardId]
GO
USE [master]
GO
